<div class='container mt-5'>
    <div class='border border-primary rounded shadow'>
        <h1 class='card-header'>Friends List App</h1>
    </div>
    <div class='rounded-bottom border border-primary border-top-0 my-0 pt-0 mx-auto shadow' style='height: 15px; width: 1015px'>
    </div>
    <div class='rounded-bottom border border-primary border-top-0 my-0 pt-0 mx-auto shadow' style='height: 15px; width: 915px'>
    </div>
    <div class='rounded-bottom border border-primary border-top-0 my-0 pt-0 mx-auto shadow' style='height: 15px; width: 815px'>
    </div>
</div>